p {
  padding-left: 50px;
  color: black;
  padding-top: 20px;
}
ion-title {
  text-align: center;
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: black;
  }
  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .active {
    border-left: 5px solid;
    color: #628cff;
    padding-left: 15px;

    ion-icon {
      //color: #628cff;
      color: black;
    }
  }
}
